<template>
  <div class="common-layout">
    <el-container>
      <el-aside class="aside">
        <el-tree :props="props" :load="loadNode" lazy />
      </el-aside>
      <div class="drag" ref="drag" @mousedown="moveEle"></div>
      <el-container>
        <el-header class="header">
          <el-row :gutter="24">
            <el-col :span="6">
              <div>车辆管理</div>
            </el-col>
            <el-col :span="12" :offset="6">
              <el-input v-model="searchData.keyWord" class="w-50 m-2" placeholder="Please Input">
                <template #append>
                  <el-button type="primary" icon="el-icon-search" @click="search" />
                </template>
              </el-input>
            </el-col>
          </el-row>
        </el-header>
        <el-main>
          <el-row :gutter="24">
            <el-col :span="24">
              <el-button type="primary" size="small" @click="onShowCarTypeDialog('车辆类型新增')"
                >新增车辆类型</el-button
              >
              <el-button type="primary" size="small" @click="onShowCarTypeDialog('车辆类型修改')"
                >修改车辆类型</el-button
              >
              <el-button type="primary" size="small">删除车辆类型</el-button>
              <el-button type="primary" size="small" @click="onShowCarDialog('车辆新增')">新增车辆</el-button>
              <el-button type="primary" size="small" @click="onShowCarDialog('车辆修改', carEditId)"
                >修改车辆</el-button
              >
              <el-button type="primary" size="small" @click="multipleDeleteCar">删除车辆</el-button>
            </el-col>
          </el-row>

          <el-table :data="tableData" style="width: 100%" @selection-change="handleSelectionChange">
            <el-table-column type="selection" width="55" />
            <el-table-column prop="sid" label="车辆编码" width="220" />
            <el-table-column prop="name" label="名称" width="220" />
            <el-table-column prop="license" label="车牌号" width="220" />
            <el-table-column prop="purchaseTime" label="购买日期" width="220" />
            <el-table-column prop="price" label="购买价格" width="220" />
            <el-table-column prop="state" label="租赁状态" width="220" />
            <el-table-column fixed="right" label="操作" width="120">
              <template #default="scope">
                <el-button link type="primary" size="small" @click="onShowCarDialog('修改', scope.row)">修改</el-button>
                <el-button link type="primary" size="small" @click="handleDelete(scope.row)">删除</el-button>
              </template>
            </el-table-column>
          </el-table>

          <div class="example-pagination-block">
            <el-pagination @current-change="changePage" layout="prev, pager, next" :total="total" />
          </div>
        </el-main>

        <el-footer v-if="isPageAlive">
          <!-- 分页 -->
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="changePage"
            :current-page="searchData.page"
            :page-sizes="50"
            :page-size="searchData.limit"
            layout="total, prev, pager, next, sizes, jumper"
            :total="totalCount"
            class="footer"
          >
          </el-pagination>
        </el-footer>
      </el-container>
    </el-container>
    <CarDialog ref="CarDialogFlag" @refresh="init"></CarDialog>
    <CarTypeDialog ref="CarTypeDialogFlag" @refresh="init"></CarTypeDialog>
  </div>
</template>

<script setup>
import { ref, reactive, onMounted } from 'vue'
import { deleteCar, queryCarPage } from '@/api'
import CarDialog from '../components/CarDialog.vue'
import CarTypeDialog from '../components/CarTypeDialog.vue'
import { Message, MessageBox } from 'element-ui'

const props = {
  label: 'name',
  children: 'zones',
  isLeaf: 'leaf'
}

const total = ref(0)
const searchData = reactive({
  page: 1,
  limit: 10,
  type: null,
  carName: null,
  license: null
})
const tableData = ref([])
const asideWidth = ref({
  width: '200px'
})
// 初始化表格
const init = async () => {
  const list = await queryCarPage(searchData).then((res) => res.data)
  console.log(list)
  tableData.value = list?.records ?? []
  total.value = list?.data?.total ?? 0
}
init()

const changePage = (page) => {
  searchData.page = page
  init()
}
//search
const search = async () => {
  await queryCarPage(searchData)
  init()
}
// 弹窗
const CarDialogFlag = ref()
const CarTypeDialogFlag = ref()
// car add/edit
const onShowCarDialog = (initType, data) => {
  CarDialogFlag.value.init(initType, data)
}
// car_type add/edit
const onShowCarTypeDialog = (initType, data) => {
  CarTypeDialogFlag.value.init(initType, data)
}
// delete
const handleDelete = (row) => {
  MessageBox.confirm('proxy will permanently delete the file. Continue?', 'Warning', {
    confirmButtonText: 'OK',
    cancelButtonText: 'Cancel',
    type: 'warning'
  })
    .then(async () => {
      await deleteCar({ id: row.id })
      init()
      Message({
        type: 'success',
        message: 'Delete completed'
      })
    })
    .catch(() => {
      Message({
        type: 'info',
        message: 'Delete canceled'
      })
    })
}

// treeList
const loadNode = (node, resolve) => {
  if (node.level === 0) {
    return resolve([{ name: 'region' }])
  }
  if (node.level > 1) return resolve([])

  setTimeout(() => {
    const data = [
      {
        name: 'leaf',
        leaf: true
      },
      {
        name: 'zone'
      }
    ]

    resolve(data)
  }, 500)
}

const carEditId = ref()
const multipleSelection = ref([])
// selectTable
const handleSelectionChange = (val) => {
  multipleSelection.value = val
  console.log(multipleSelection.value, '多选数据')
}
// delete car
const multipleDeleteCar = () => {
  let result = []
  for (let key of multipleSelection.value) {
    result.push(key?.id)
  }
  console.log(result)
  // todo 准备删除
  deleteCar()
}

const drag = ref()
// 更改状态、触发更新的函数
const moveEle = () => {
  document.onmouseup = () => {
    // 取消document的onmousemove和onmouseup事件 ！！！
    document.onmousemove = null
    document.onmouseup = null
  }
  document.onmousemove = (e) => {
    asideWidth.value.width = e.clientX + 'px'
    if (e.clientX > 900) {
      asideWidth.value.width = '900px'
    } else if (e.clientX < 100) {
      asideWidth.value.width = '100px'
    }
    document.onmouseup = () => {
      // 取消document的onmousemove和onmouseup事件 ！！！
      document.onmousemove = null
      document.onmouseup = null
    }
  }
}

// 生命周期钩子
onMounted(() => {})
</script>

<style lang="less" scoped>
.aside {
  height: 100vh;
  width: v-bind('asideWidth.width');
  border: 1px solid #ccc;
}
.header {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 22px;
}
.demo-ruleForm {
  border: 1px solid #ccc;
  padding: 20px;
}
.drag {
  width: 5px;
  height: 100vh;
  background: rgb(209, 205, 205);
}
.drag:hover {
  background: rgba(9, 236, 111, 0.402);
  cursor: e-resize;
}
</style>
