<template>
  <div class="common-layout">
    <el-container>
      <el-header class="header">
        <div>租赁管理</div>
      </el-header>
      <el-main>
        <el-row :gutter="20">
          <el-col :span="12">
            <el-button type="primary" size="small">查询</el-button>
            <el-button type="primary" size="small" @click="onShowDialog('创建订单')">新建</el-button>
            <el-button type="primary" size="small">删除</el-button>
          </el-col>
          <el-col :span="6" :offset="6">
            <el-input v-model="searchData.keyWord" class="w-50 m-2" placeholder="Please Input">
              <template #append>
                <el-button type="primary" icon="el-icon-search" @click="search" />
              </template>
            </el-input>
          </el-col>
        </el-row>

        <el-table :data="tableData" style="width: 100%" @selection-change="handleSelectionChange">
          <el-table-column type="selection" width="55" />
          <el-table-column prop="oid" label="订单编号" />
          <el-table-column prop="maker" label="制单人" />
          <el-table-column prop="leaseTime" label="出租日期" />
          <el-table-column prop="company" label="出租单位" />
          <el-table-column prop="rent" label="租金" />
          <el-table-column prop="duration" label="出租时长 (月)" />
          <el-table-column prop="cname" label="车辆" />
          <el-table-column prop="contact" label="承租人" />
          <el-table-column fixed="right" label="操作" width="120">
            <template #default="scope">
              <el-button link type="primary" size="small" @click="onShowDialog('订单修改', scope.row)">修改</el-button>
              <el-button link type="primary" size="small" @click="handleDelete(scope.row)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>

        <div class="example-pagination-block">
          <el-pagination layout="prev, pager, next" :total="50" />
        </div>
      </el-main>
    </el-container>
    <LeaseDiaLog ref="LeaseDiaLogFlag" @refresh="init"></LeaseDiaLog>
  </div>
</template>

<script setup>
import { ref, reactive } from 'vue'
import { deleteOrder, queryOrderPage } from '@/api'
import LeaseDiaLog from '../components/LeaseDiaLog.vue'
import { Message, MessageBox } from 'element-ui'

const multipleSelection = ref([])
const searchData = reactive({
  keyWord: ''
})
const LeaseDiaLogFlag = ref()
const tableData = ref([])
const asideWidth = ref({
  width: '200px'
})
// 初始化表格
const init = async () => {
  const list = await queryOrderPage(searchData)
  tableData.value = list
}
init()

//search
const search = () => {
  console.log('搜索方法')
}
// add/edit
const onShowDialog = (initType, data) => {
  LeaseDiaLogFlag.value.init(initType, data)
}
// delete
const handleDelete = (row) => {
  MessageBox.confirm('proxy will permanently delete the file. Continue?', 'Warning', {
    confirmButtonText: 'OK',
    cancelButtonText: 'Cancel',
    type: 'warning'
  })
    .then(async () => {
      await deleteOrder({ id: row.id })
      init()
      Message({
        type: 'success',
        message: 'Delete completed'
      })
    })
    .catch(() => {
      Message({
        type: 'info',
        message: 'Delete canceled'
      })
    })
}

// selectTable
const handleSelectionChange = (val) => {
  multipleSelection.value = val
  console.log(multipleSelection.value, '多选数据')
}
</script>

<style lang="less" scoped>
.aside {
  height: 100vh;
  width: v-bind('asideWidth.width');
  border: 1px solid #ccc;
}
.header {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 22px;
}
.demo-ruleForm {
  border: 1px solid #ccc;
  padding: 20px;
}
.drag {
  width: 5px;
  height: 100vh;
  background: rgb(209, 205, 205);
}
.drag:hover {
  background: rgba(9, 236, 111, 0.402);
  cursor: e-resize;
}
</style>
