<template>
  <el-dialog :visible.sync="dialogVisible" :title="initType" width="40%">
    <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" label-width="90px" class="demo-ruleForm" status-icon>
      <el-form-item label="车辆编码" prop="sid">
        <el-input v-model="ruleForm.sid" />
      </el-form-item>
      <el-form-item label="车辆名称" prop="name">
        <el-input v-model="ruleForm.name" />
      </el-form-item>
      <el-form-item label="车牌号" prop="license">
        <el-input v-model="ruleForm.license" />
      </el-form-item>
      <el-form-item label="购买日期" prop="purchaseTime">
        <el-date-picker v-model="ruleForm.purchaseTime" type="date" placeholder="购买日期" />
      </el-form-item>
      <el-form-item label="购买价格" prop="price">
        <el-input v-model="ruleForm.price" />
      </el-form-item>
      <el-form-item label="租聘状态">
        <el-radio-group v-model="ruleForm.state">
          <el-radio label="0">未租聘</el-radio>
          <el-radio label="1">已租聘</el-radio>
        </el-radio-group>
      </el-form-item>
      <el-form-item label="车辆类型" prop="type">
        <el-select-v2 v-model="ruleForm.type" placeholder="车辆类型" :options="options" />
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="resetForm(ruleFormRef)">取消</el-button>
        <el-button type="primary" @click="submitForm(ruleFormRef)">确定</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup>
import { ref, reactive } from 'vue'
import { createCar, editCar } from '@/api'

const dialogVisible = ref(false)
const initType = ref()
const ruleFormRef = ref()
const emit = defineEmits(['refresh'])
const refresh = () => {
  emit('refresh')
}
const initialState = () => {
  return {
    sid: '',
    name: '',
    license: '',
    purchaseTime: '',
    price: '',
    state: 0,
    type: ''
  }
}

const ruleForm = reactive(initialState())

const rules = reactive({
  sid: [
    { required: true, message: '请输入车辆编码', trigger: 'blur' }
    // { min: 1, max: 15, message: 'Length should be 6 to 15', trigger: 'blur' }
  ],
  name: [{ required: true, message: '请输入车辆名称', trigger: 'change' }],
  license: [{ required: true, message: '请输入车牌号', trigger: 'change' }],
  purchaseTime: [{ type: 'date', required: true, message: '请输入购买日期', trigger: 'change' }],
  price: [{ required: true, message: '请输入购买价格', trigger: 'change' }],
  type: [{ required: true, message: '请输入车辆类型', trigger: 'change' }]
})
const options = Array.from({ length: 10000 }).map((_, idx) => ({
  value: `${idx + 1}`,
  label: `${idx + 1}`
}))

const init = (_initType, _mainData) => {
  console.log(_initType)
  console.log(_mainData)
  console.log(ruleFormRef)
  const _mainFrom = ruleFormRef.value
  _mainFrom && _mainFrom.resetFields()
  // 显示组件
  dialogVisible.value = true

  if (!_mainData) {
    Object.assign(ruleForm, initialState())
  } else {
    Object.assign(ruleForm, _mainData)
  }

  initType.value = _initType
  console.log(initType.value, ruleForm)
}

const submitForm = async (formEl) => {
  if (!formEl) return
  await formEl.validate(async (valid, fields) => {
    if (valid) {
      if (ruleForm.id) {
        await editCar(ruleForm)
      } else {
        await createCar(ruleForm)
      }

      refresh()
      dialogVisible.value = false
    } else {
      console.log('error submit!', fields)
    }
  })
}

const resetForm = (formEl) => {
  if (!formEl) return
  formEl.resetFields()
  dialogVisible.value = false
}
defineExpose({
  init
})
</script>
