<template>
  <el-dialog :visible.sync="dialogVisible" :title="initType" width="40%">
    <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" label-width="90px" class="demo-ruleForm" status-icon>
      <el-form-item label="类型编码" prop="sid">
        <el-input v-model="ruleForm.sid" />
      </el-form-item>
      <el-form-item label="类型名称" prop="name">
        <el-input v-model="ruleForm.name" />
      </el-form-item>
      <el-form-item label="上级类型" prop="parent">
        <el-input v-model="ruleForm.parent" />
      </el-form-item>
      <el-form-item label="TESTtesttest类型" prop="parent">
        <el-select-v2 v-model="ruleForm.parent" placeholder="Activity type" :options="options" />
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="resetForm(ruleFormRef)">取消</el-button>
        <el-button type="primary" @click="submitForm(ruleFormRef)">确定</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup>
import { ref, reactive } from 'vue'
// queryTypeTree
import { createType, editType } from '@/api'

const dialogVisible = ref(false)
const initType = ref()
const ruleFormRef = ref()
const emit = defineEmits(['refresh'])
const refresh = () => {
  emit('refresh')
}
const initialState = () => {
  return {
    // id: 0
    sid: '',
    name: '',
    parent: ''
  }
}

const ruleForm = reactive(initialState())

const rules = reactive({
  sid: [
    { required: true, message: '请输入车辆类型编码', trigger: 'blur' }
    // { min: 1, max: 15, message: 'Length should be 1 to 15', trigger: 'blur' }
  ],
  name: [{ required: true, message: '请输入车辆类型名称', trigger: 'change' }],
  parent: [{ required: true, message: '请输入上级类型', trigger: 'change' }]
})
const options = Array.from({ length: 10000 }).map((_, idx) => ({
  value: `${idx + 1}`,
  label: `${idx + 1}`
}))

const init = (_initType, _mainData) => {
  console.log(_initType)
  console.log(_mainData)
  console.log(ruleFormRef)
  const _mainFrom = ruleFormRef.value
  _mainFrom && _mainFrom.resetFields()
  // 显示组件
  dialogVisible.value = true

  if (!_mainData) {
    Object.assign(ruleForm, initialState())
  } else {
    Object.assign(ruleForm, _mainData)
  }

  initType.value = _initType
  console.log(initType.value, ruleForm)
}

const submitForm = async (formEl) => {
  if (!formEl) return
  await formEl.validate(async (valid, fields) => {
    if (valid) {
      if (ruleForm.id) {
        await editType(ruleForm)
      } else {
        await createType(ruleForm)
      }

      refresh()
      dialogVisible.value = false
    } else {
      console.log('error submit!', fields)
    }
  })
}

const resetForm = (formEl) => {
  if (!formEl) return
  formEl.resetFields()
  dialogVisible.value = false
}

defineExpose({
  init
})
</script>
