<template>
  <el-dialog :visible.sync="dialogVisible" :title="initType" width="40%">
    <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" label-width="90px" class="demo-ruleForm" status-icon>
      <el-form-item label="订单编号" prop="oid">
        <el-input v-model="ruleForm.oid" placeholder="订单编号" />
      </el-form-item>
      <el-form-item label="制单人" prop="maker">
        <el-input v-model="ruleForm.maker" placeholder="制单人" />
      </el-form-item>
      <el-form-item label="出租日期" prop="leaseTime">
        <el-date-picker v-model="ruleForm.leaseTime" placeholder="出租日期" />
      </el-form-item>
      <el-form-item label="租赁单位" prop="company">
        <el-input v-model="ruleForm.company" placeholder="租赁单位" />
      </el-form-item>
      <el-form-item label="承租人" prop="contact">
        <el-input v-model="ruleForm.contact" placeholder="承租人" />
      </el-form-item>
      <el-form-item label="租金" prop="rent">
        <el-input v-model="ruleForm.rent" placeholder="租金" />
      </el-form-item>
      <el-form-item label="出租时长 (月)" prop="duration">
        <el-input v-model="ruleForm.duration" placeholder="出租时长 (月)" />
      </el-form-item>
      <el-form-item label="车辆" prop="cname">
        <el-select-v2 v-model="ruleForm.cid" placeholder="车辆" :options="options" />
      </el-form-item>
      <el-form-item label="备注" prop="remark">
        <el-input v-model="ruleForm.remark" placeholder="备注" />
      </el-form-item>
    </el-form>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="resetForm(ruleFormRef)">取消</el-button>
        <el-button type="primary" @click="submitForm(ruleFormRef)">确定</el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script setup>
import { ref, reactive } from 'vue'
import { createCar, editCar } from '@/api'

const dialogVisible = ref(false)
const initType = ref()
const ruleFormRef = ref()
const emit = defineEmits(['refresh'])
const refresh = () => {
  emit('refresh')
}
const initialState = () => {
  return {
    oid: '',
    maker: '',
    leaseTime: '',
    company: '',
    contact: '',
    rent: '',
    duration: 0,
    cid: '',
    cname: '',
    remark: ''
  }
}

const ruleForm = reactive(initialState())

const rules = reactive({
  oid: [{ required: true, message: '请输入订单编号', trigger: 'blur' }],
  maker: [{ required: true, message: '请输入制单人', trigger: 'change' }],
  leaseTime: [{ type: 'date', required: true, message: '请输入出租日期', trigger: 'change' }],
  company: [{ required: true, message: '请输入租赁单位', trigger: 'change' }],
  contact: [{ required: true, message: '请输入承租人', trigger: 'change' }],
  rent: [{ required: true, message: '请输入租金', trigger: 'change' }],
  duration: [{ required: true, message: '请输入出租时长 (月)', trigger: 'change' }],
  cid: [{ required: true, message: '请选择车辆', trigger: 'change' }]
})
const options = Array.from({ length: 10000 }).map((_, idx) => ({
  value: `${idx + 1}`,
  label: `${idx + 1}`
}))

const init = (_initType, _mainData) => {
  console.log(_initType)
  console.log(_mainData)
  console.log(ruleFormRef)
  const _mainFrom = ruleFormRef.value
  _mainFrom && _mainFrom.resetFields()
  // 显示组件
  dialogVisible.value = true

  if (!_mainData) {
    Object.assign(ruleForm, initialState())
  } else {
    Object.assign(ruleForm, _mainData)
  }

  initType.value = _initType
  console.log(initType.value, ruleForm)
}

const submitForm = async (formEl) => {
  if (!formEl) return
  await formEl.validate(async (valid, fields) => {
    if (valid) {
      if (ruleForm.id) {
        await editCar(ruleForm)
      } else {
        await createCar(ruleForm)
      }

      refresh()
      dialogVisible.value = false
    } else {
      console.log('error submit!', fields)
    }
  })
}

const resetForm = (formEl) => {
  if (!formEl) return
  formEl.resetFields()
  dialogVisible.value = false
}
defineExpose({
  init
})
</script>
