<script setup>
import CarViewVue from './views/CarView.vue'
import LeaseViewVue from './views/LeaseView.vue'
</script>

<template>
  <div id="app">
    <el-tabs tab-position="left">
      <el-tab-pane label="车辆管理"><CarViewVue></CarViewVue></el-tab-pane>
      <el-tab-pane label="租赁管理"><LeaseViewVue></LeaseViewVue></el-tab-pane>
    </el-tabs>
  </div>
</template>

<style scoped></style>
